h1{
    color:blue;
}
h2{
    font-size: 14px;
}
p{
  font-size: 12px;
    color:yellow;
    background-color: black;
    width:400px;
}
img{
    border: 2px solid red;
}
.center1{
    height:50px;
    background-color: red;
    width:960px;
    margin:0 auto;
}
.center{
    display: inline-block;
    height:50px;
    background-color: blue;
    width:960px;
}
.wrap{
    text-align: center;
}
